# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea
.idea/*

# 删除编译生成的二进制文件
crontab/master/main/cron-master
crontab/worker/main/cron-worker